/* =========== Helper Classes =========== */

.yks-hidden {display: none;}

.yks-text-right {text-align: right;}
.yks-text-left {text-align: left;}
.yks-text-center {text-align: center;}

.yks-right {float: right;}
.yks-left {float: left;}

.yks-margin-left {margin-left: 2em;}


/*******************************************/
/**** Include Our Custom Web Font ****/
@font-face {
	font-family: 'yks-mc-font';
	src:url('fonts/yks-mc-font.eot?-e5ggdf');
	src:url('fonts/yks-mc-font.eot?#iefix-e5ggdf') format('embedded-opentype'),
		url('fonts/yks-mc-font.woff?-e5ggdf') format('woff'),
		url('fonts/yks-mc-font.ttf?-e5ggdf') format('truetype'),
		url('fonts/yks-mc-font.svg?-e5ggdf#yks-mc-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

.yks_mc_error_x {
	color:#DD3D36;
}

.ui-widget-overlay:nth-child(2) {
	background: transparent !important;
}

/* TinyMCE Button Class */
/* Icon Fonts */
.mce-i-yks-mc-icon-yikes-button-image:before {
	content: "\e600" !important;
	font-family: 'yks-mc-font' !important;
}

.toplevel_page_yks-mailchimp-form .update-nag {
	padding-top:0;
	margin-top:0;
	width: 95%;
	margin-right:0;
}

.yks-mc-icon-notice {
	display:block;
}

.update-nag .yks-mc-icon-notice:before {
	content: "\e601" !important;
	font-family: 'yks-mc-font' !important;
	float:left;
	font-size:1.5em;
	color: #FFBA00;
	display:block;
	margin-right: .25em;
}

/* Reset Plugin Modal and Icons */
.yks-mc-icon-yks-mc-warning:before {
	content: "\e602";
	font-family: 'yks-mc-font' !important;
}

.yks-mc-reset-warning-icon {
	font-size: 3.25em;
	color: rgb(255, 76, 76);
	text-align:center;
	float:left;
	margin-right:.25em;
	margin-top:.75em;
}

.yks_mc_about_icon {
	display:block;
	float:left;
	margin-top:2em;
}

.yks-mc-delete-form-warning-icon {
	font-size: 3.25em;
	color: rgb(255, 76, 76);
	text-align:center;
	float:left;
	margin-right:.25em;
}

.yks-mc-success-icon {
	font-size: 3.25em;
	color: rgb(126, 207, 110);
	text-align:center;
	margin-top: .25em;
	margin-right: .75em;
	float:left;
}

.yks-mc-reset-plugin-settings-preloader {
	width: 15px;
	text-align:center;
	display:block;
	margin:0 auto;
}

.yks-mc-reset-plugin-settings-preloader-container {
	width:100%;
	text-align:center;
}

#yks_mc_reset_plugin_settings p {
	float:left;
	width:75%;
	margin-top: 1em;
}

/*	Widget Icon !!  */
/* including an image in the widget box */
*[id*="_yikes_mc_widget"] > div.widget-top > div.widget-title > h4:before {
	content: url('../images/yikes_logo_widget_icon.png');
	width:33px;
	float:left;
	height:8px;
	margin: -5px 8px 0 -5px;
}


/* Red Button Style */
.wp-core-ui .yikes-mc-button-red {
	background-color: #9B2124;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#C5292E), to(#9B2124));
	background-image: -webkit-linear-gradient(top, #C5292E, #9B2124);
	background-image:    -moz-linear-gradient(top, #C5292E, #9B2124);
	background-image:     -ms-linear-gradient(top, #C5292E, #9B2124);
	background-image:      -o-linear-gradient(top, #C5292E, #9B2124);
	background-image:   linear-gradient(to bottom, #C5292E, #9B2124);
	border-color: #9B2124;
	border-bottom-color: #8D1F21;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
 	box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
 	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
	margin-left: 2em;
	width:150px;
	text-align:center;
}

.wp-core-ui .yikes-mc-button-red.hover,
.wp-core-ui .yikes-mc-button-red:hover,
.wp-core-ui .yikes-mc-button-red.focus,
.wp-core-ui .yikes-mc-button-red:focus {
	background-color: #B72629;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#D22E30), to(#9B2124));
	background-image: -webkit-linear-gradient(top, #D22E30, #9B2124);
	background-image:    -moz-linear-gradient(top, #D22E30, #9B2124);
	background-image:     -ms-linear-gradient(top, #D22E30, #9B2124);
	background-image:      -o-linear-gradient(top, #D22E30, #9B2124);
	background-image:   linear-gradient(to bottom, #D22E30, #9B2124);
	border-color: #7F1C1F;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.6);
 	box-shadow: inset 0 1px 0 rgba(120,200,230,0.6);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}

.wp-core-ui .yikes-mc-button-red.focus,
.wp-core-ui .yikes-mc-button-red:focus {
	border-color: #500F0E;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4);
	box-shadow: inset 0 1px 0 rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4);
}

.wp-core-ui .yikes-mc-button-red.active,
.wp-core-ui .yikes-mc-button-red.active:hover,
.wp-core-ui .yikes-mc-button-red.active:focus,
.wp-core-ui .yikes-mc-button-red:active {
	background: #7F1C1F;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9B2124), to(#B72629));
	background-image: -webkit-linear-gradient(top, #9B2124, #B72629);
	background-image:    -moz-linear-gradient(top, #9B2124, #B72629);
	background-image:     -ms-linear-gradient(top, #9B2124, #B72629);
	background-image:      -o-linear-gradient(top, #9B2124, #B72629);
	background-image:   linear-gradient(to bottom, #9B2124, #B72629);
	border-color: #601312 #AE2426 #AE2426 #AE2426;
	color: rgba(255,255,255,0.95);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
 	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.wp-core-ui .yikes-mc-button-red[disabled],
.wp-core-ui .yikes-mc-button-red:disabled,
.wp-core-ui .yikes-mc-button-red-disabled {
	color: #E79496 !important;
	background: #BA292B !important;
	border-color: #7F1C1F !important;
	-webkit-box-shadow: none !important;
	box-shadow:         none !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.1) !important;
	cursor: default;
}


/*********	User Profile Box And Fields 		*********/
#userInformation {
	width:400px;
	height:125px;
	position:absolute;
	right:0;
	top:0;
	margin-top:2em;
	margin-right:2em;
	/* border:1px dashed rgb(206, 206, 206); */
	padding:10px;
	font-size:1.8em;
}
	#userInformation p, #userInformation span {
		margin:0;
	}
	
	#userInformation span { 
		text-decoration:underline;
	}

	#yikes-mailchimp-avatar {
		position:absolute;
		top:0;
		left:0;
		margin-left:10px;
		margin-top:1.8em;
		width:100px;
	}
	
	.userProfileInformation {
		margin-left:110px;
		margin-top:5px;
	}
	
	.userProfileInformation p {
		margin: 5px 0 5px 0 !important;
		font-size:16px;
	}


/*		Widget Styles	*/
.yikes_widget_form_description, .yikes_mc_widget_selected_form_dropdown { 
	width:100%;
	height:200px;
	resize:none;
}

.widget_yikes_mc_widget p {
	margin-bottom:10px;
}

.widget .yks_mc_interest_group_label {
	text-align:center;
	width:33%;
	float:left;
	word-break: break-word;
	margin: 5px 0;
}

.yks-mailchimpFormDivRowField select {
	display: block;
	width: 100%;
}

.widget_yikes_mc_widget input, .widget_yikes_mc_widget .yks-mailchimpFormDivRowField {
	width: 100%;
    display:block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
	.yks-mailchimpFormDivRowField input {
		width: 100%;
		display:block;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding-left: 10px;
	}
	/* Make radio buttons and checkboxes not 100% as it throws off layouts */
	.yks-mailchimpFormDivRowField input[type="radio"], .yks-mailchimpFormDivRowField input[type="checbox"] {
		width: auto;
		float:left;
	}

.widget_yikes_mc_widget .yks-require-description {
	padding-top:0;
}

/* general */

#ykseme-icon {
	background: transparent url('../images/ykseme_32px_color.png') no-repeat 0 0;
	display:block;
	float:left;
	padding: 0 0 0 .5em;
	height: 35px;
	width:35px;
	background-size: contain;
}

body.mailchimp-forms_page_yks-mailchimp-form-lists #ykseme-icon {
	margin-right: .5em;
}

.wrap #ykseme-page-header {
	padding-top:0;
	margin:1em 0 1.5em 0;
}

.wrap #yks_mc_review_this_plugin_container {
	padding:.5em;
	float:right;
}

.wrap .nav-tab-wrapper {
	padding-top:2.5em;
}

.wrap .account-nav-tab {
	padding-top:0;
}

/* Settings Page Top Container */
/* Houses links to leave us a review, links to YIKES Inc. Website etc. */
#yks_mc_review_this_plugin_container {
	display:inline-block;
}
	#yks_mc_review_this_plugin_container .yks_review_this_divider {
		border-right:1px solid #333;
	}
	
#yks_mc_review_this_plugin_container a, #yks_mc_review_this_plugin_container a:hover {
	color: #333;
}
	#yks_mc_review_this_plugin_container div, #yks_mc_review_this_plugin_container span, #yks_mc_review_this_plugin_container .yks_header_logo {
		float:left;
		margin: 0 .5em;
		text-align:center;
	}
		#yks_mc_review_this_plugin_container div.dashicons {
			margin: 0 5px;
		}
		#yks_mc_review_this_plugin_container div.dashicons-plus-alt {
			display:block;
			width:100%;
			margin: 0 auto;
		}
		
body.mailchimp-forms_page_yks-mailchimp-about-yikes #ykseme-page-header {
	margin-top:1em;
}

#yks-lists-dropdown {
	margin-bottom: 2em;
}
.yks-status	{
	display: none;
	width: 100%;
	clear: both;
}

.wp-admin .yks-error p { 
	margin: .5em 0;
}
		
	.yks-status .yks-success {
		width: 98%;
		margin: 0 auto;
		padding: 5px 15px;
		padding-left: 0;
		background-color: transparent;
		min-height:25px;
		line-height: 1.2;
		margin-top:2em;
		color: #333;
	}
	
	.yks-status .yks-success a {
		color: auto !important;
	}
	
	.yks-status-error .yks-error {
		width: 98%;
		margin: 0 auto;
		background-color: #fff;
		padding: 1px 12px;
		padding-left: 0;
		min-height:25px;
		line-height: 3.2;
		margin-top:2em;
	}
			.yks-status .yks-error p, .yks-status .yks-success p {
				margin: .4em 0;
			}

	.yks-status .yks-notice {
		color: #000;
		width: 80%;
		height: auto;
		border: 2px solid #0033AA;
		background: #CCDDFF;
		clear: both;
		margin: 15px auto 15px auto;
		padding: 5px;
		position: relative;
		text-align: left;
	}
		.yks-status .yks-notice a.yks-notice-close, .yks-status .yks-notice a.yks-notice-close:active,
		.yks-status .yks-notice a.yks-notice-close:link, .yks-status .yks-notice a.yks-notice-close:visited {
			background: #0033AA;
			color: #FFF;
			position: absolute;
			padding: 0 5px !important;
			margin: 0 !important;
			top: 0;
			right: 0;
			font-size: 10px;
			text-decoration: none;
		}
			.yks-status .yks-notice a.yks-notice-close:hover {
				text-decoration: underline;
			}
		.yks-status .yks-notice p {
			padding: 5px;
		}
		
		
		/* Admin Success/Erorr Notifications */
		body.wp-admin .yks-status {
			display: none;
			width: 100%;
			clear: both;
		}
	
	body.wp-admin .yks-status .yks-success {
		border-left: 4px solid #7ad03a;
		padding: 5px 15px;
		background-color:#fff;
		-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
		box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
		min-height:25px;
		line-height: 1.2;
		margin-top:1em;
		color: #333;
	}
	
	body.wp-admin .yks-status .yks-success a {
		color: auto !important;
	}
	
	body.wp-admin .yks-status-error .yks-error {
		border-left: 4px solid #dd3d36;
		background-color: #fff;
		padding: 1px 12px;
		-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
		box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
		min-height:25px;
		line-height: 3.2;
		margin-top:1em;
	}
			body.wp-admin .yks-status .yks-error p, .yks-status .yks-success p {
				margin: .4em 0;
			}

	body.wp-admin .yks-status .yks-notice {
		color: #000;
		width: 80%;
		height: auto;
		border: 2px solid #0033AA;
		background: #CCDDFF;
		clear: both;
		margin: 15px auto 15px auto;
		padding: 5px;
		position: relative;
		text-align: left;
	}
		body.wp-admin .yks-status .yks-notice a.yks-notice-close, body.wp-admin .yks-status .yks-notice a.yks-notice-close:active,
		body.wp-admin .yks-status .yks-notice a.yks-notice-close:link, body.wp-admin .yks-status .yks-notice a.yks-notice-close:visited {
			background: #0033AA;
			color: #FFF;
			position: absolute;
			padding: 0 5px !important;
			margin: 0 !important;
			top: 0;
			right: 0;
			font-size: 10px;
			text-decoration: none;
		}
			body.wp-admin .yks-status .yks-notice a.yks-notice-close:hover {
				text-decoration: underline;
			}
		body.wp-admin .yks-status .yks-notice p {
			padding: 5px;
		}
		
		
/* Plugin settings page*/
.yks-admin-form {
	margin-bottom: 3em;
}

	.yks-admin-form th {
		font-weight: bold;
	}

.yks-settings-description {
	padding-bottom: 2em !important;
	color: #666;
}

#single-optin-message, #double-optin-message {
	height:150px;
	width:600px;
	resize:none;
}
	
.yks-mailchimp-interest-group-label {
	width:350px;
}

/* Configure Lists page*/

.merge_field_input {
	max-width:85px;
}

.yks-notice-toggle {
	background: #c9cced !important;
	border-color: #9ea0ba !important;
	color: #3c3a44 !important;
}

.yks-mailchimp-delete {
	background: #890B0B !important;
	border-color: #890B0B !important; 
}

.yks-mailchimp-import {
	background: #ffc000 !important;
	border-color: #ffc000 !important;
	float: right;
	margin: 0 10px 0 0;
}

.yks-mailchimp-fields-placeholder {
	background: #DEDEDE;
	display: block;
	height: 40px;
}
		
.yks-mailchimp-sorthandle {
	background: 	transparent url('../images/16px_sortable_color.png') no-repeat 0 0;
	margin:			0 7px -4px 4px !important;
	padding:		0;
	overflow:		hidden;
	height:			16px !important;
	width:			16px !important;
	text-indent:	-9000px;
	display:		inline-block;
}

	.yks-mailchimp-sorthandle-img {
		background: transparent url('../images/16px_sortable_color.png') no-repeat 0 0;
		height:			16px !important;
		width:			16px !important;
		display:		inline-block;
		}

.yks-mailchimp-fields-container label input[type="checkbox"] {
	margin-top: -1px;
}
	
.yks-mailchimp-field-name {
	display: inline-block;
	width: 175px;
}

.yks-mailchimp-field-merge {
	display: inline-block;
}
	.yks-mailchimp-field-merge .yks-mailchimp-field-merge {
		width: 100px;
	}

.yks-mailchimp-fields-list, .yks-mailchimp-interest-groups-container 	{
	background-color: #F9F9F9;
	border: 1px solid #EEE;
}
.yks-mailchimp-fields-list .yks-mailchimp-fields-list-row:nth-child(even), .yks-mailchimp-interest-groups-container .yks-mailchimp-fields-list-row:nth-child(even) {
	background-color: #EEE;
}
.yks-mailchimp-fields-list .yks-mailchimp-fields-list-row:nth-child(odd) , .yks-mailchimp-interest-groups-container .yks-mailchimp-fields-list-row:nth-child(odd) {
}
	.yks-mailchimp-fields-list .yks-mailchimp-fields-list-row, .yks-mailchimp-interest-groups-container .yks-mailchimp-fields-list-row {
		height: 40px;
		padding-top: 3px;
	}
		.yks-mailchimp-fields-list .yks-mailchimp-fields-list-row label, .yks-mailchimp-interest-groups-container .yks-mailchimp-fields-list-row label {
			display: inline-block;
		}

		.yks-mailchimp-listname {
			font-size: 1.4em !important;
			font-weight: 600;
			padding-left: 0 !important;
		}

.yks-mailchimp-redirect-checkbox-holder {
	display:block;
	margin-top:.5em;
}
		
/*	Subscribers table */
.yks-mailchimp-subscribers-list-row {
		height: 30px;
		padding-top: 3px;
		font-size:1.2em;
	}
	
.yikes-mailchimp-subscribers-table-head {
	border-bottom:1px solid grey;
	font-size:1.3em;
}	
	
	.yks-mailchimp-subscribers-list-row:nth-child(even) {
		background-color: #EEE;
	}
	
	.yks-mailchimp-subscribers-list-row:hover {
		cursor:pointer;
		background:rgba(208, 235, 241, 0.58);
	}
	
.subscriber-mail-link {
	text-decoration:none;
}	
	
.displayListSubscribers {
	font-size: 9px !important;
	margin-top: -5px !important;
	margin-left: 5px !important;
}

	.yks-view-subscriber-profile {
		float:right;
		margin-right:.35em;
		margin-top:-.2em;
		opacity:.5;
		color:rgb(24, 138, 56) !important;
		line-height:1.35;
	}
		
		.yks-view-subscriber-profile:hover {
			opacity:1;
		}

	.yks-remove-subscriber {
		float:right;
		margin-right:.5em;
		margin-top:-.2em;
		opacity:.5;
		color:rgb(223, 111, 111);
		line-height:1.35;
	}
	.yks-remove-subscriber:hover {
		opacity:1;
	}
	
	.yks-email-subscriber {
		float:right;
		margin-right:.25em;
		margin-top:-.2em;
		opacity:.5;
		color:rgb(60, 143, 175) !important;
		line-height:1.35;
	}
	
		.yks-email-subscriber:hover {
			opacity:1;
		}
	
/* About page */

.yksme-page-about {
	width: 98%;	
}

#yksme-yikes-logo-container {
	float:right;
	margin: 0 20px 20px 20px;
	width: 300px;
}	
	
#yksme-yikes-logo-container .b-sbn {
	float: right;
	margin: 0 2.4em 0 0;
}	

#yksme-yikes-logo {
	border: 0;
	padding: 0;
	margin: 0 0 20px 0;
	display: block;
}


/* =========== Front-end Forms =========== */

.yks-mailchimp-fields-td {
	display: block;
	padding: 15px 0 15px 0;
	width: 100%;
}

.yks-mailchimp-fields-td .yks-mailchimp-fields-container .yks-mailchimp-fields-list-row {
	height: auto;
	padding: 3px 0;
}
	
.yks-mailchimp-fields-container label {
	clear: both;
	display: block;
	padding: 2px 0;
}

.yks-require-description {
	font-size: 0.9em;
    padding: 1em 0 0 0;
}

.yks-mailchimpFormDivRowLabel-required {}
	.yks-required-label {
		font-weight: bold;
		color: red;
	}
	.yks-require {}
	
.yks-mailchimpFormTable	{
	border-bottom: 0px !important;
}

.yks-mailchimpFormTableSubmit {
	text-align:	center;
}
	
.yks-mailchimpFormTableRow, .yks-mailchimpFormDivRow {
	width: 100%;
}
	.yks-mailchimpFormDivRow {
		margin: .5em 0 .5em 0;
	}

.yks-mailchimpFormTableRowLabel, .yks-mailchimpFormTableRowField,
.yks-mailchimpFormDivRowLabel, .yks-mailchimpFormDivRowField {
	vertical-align: top !important;
}
.yks-mailchimpFormDivRowLabel {
	display: block;
	margin: .5em 0;
}
.yks-mailchimpFormDivSubmit {
	display: inline-block;
	width: 100%;
	margin-top: .4em;
}

.yks-mailchimp-form-tooltip {
	color: #333 !important;
	font-size: 12px;
	display:block;
	margin: 0 0 15px 0;
}
	
#yks-mailchimp-debug-info, #yks-mailchimp-debug-info table,
#yks-mailchimp-debug-info table label, #yks-mailchimp-debug-info table th,
#yks-mailchimp-debug-info table td {
	color: #CCC !important;
	font-size: 10px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.mailChimp_api_key_preloader {
	margin-left:.5em;
	display:none;
}

.mailChimp_api_key_validation_message {
	margin-left:.5em;
	display:none;
	font-size:10px;
}

	.mailChimp_api_key_validation { 

	}

.yikes-api-key-error {
	display:none;
	color:red;
}

/******		Interest Group Stypes 		******/
.yks_mc_interest_group_text {
	display:block;
	margin: .5em 0;
}

.yks_mc_interest_group_holder {
	display:inline-block;
	width:100%;
	margin-bottom:.5em;
}


/* Table Interest Group Styles */
td.yks_mc_table_dropdown_interest_group_holder, td.yks-mailchimpFormTableSubmit  {
	border-top:0;
}
.yks_table_label {
	display:block;
	margin:.75em 0;
}

.yks_mc_table_interest_group_holder {
	width: 100%;
	margin-bottom: 0;
	display:block;
}
	.yks_mc_table_dropdown_interest_group_holder {
		display:block;
	}

.yks_mc_interest_group_holder select {
	width:100%;
}

.yikes_mc_interest_group_checkbox, .yks_mc_interest_group_label { 
	display:inline-block;
	margin: 0 5px;
	line-height: .7;
}

.widget .yks_mc_table_td:last-child {
	border-top:0;
	border-bottom:0;
	display:block;
}

.yikes_mc_interest_group_radio {
	margin-right: .5em;
}

#content .yks_mc_interest_radio_button_holder, #content .yks_mc_table_td {
	display:inline-block;
	width:100%;
}

/***	Subscriber List Styles	***/
.yks-mc-subscriber-go-back {
	font-size:12px;
	font-weight:bold;
	color: #333;
	opacity: .5;
	width:300px;
	display:block;
	text-align:left;
	margin-top: 1em !important;
	width: auto;
}
	.yks-mc-subscriber-go-back:hover {
		opacity: 1;
		cursor:pointer;
	}

.yks-mc-subscriber-overview {
	display:block;
	float: left;
	width: 100%;
}	
	
.dashicons-arrow-left-alt2:before {
	display:inline-block;
	margin-top:.15em;
}
	
.dashicons-star-filled {color:#FEBE12;}

.yks-mc-subscriber-star-rating {
	margin-top: 0;
}

#yks-subscriber-info-email-address {
	margin-bottom:.5em !important;
}

.yks-mc-overview-title {
	font-size:16px;
	color: #666;
	opacity:.8;
	margin-bottom:0 !important;
}

.yks-mc-overview-info-value {
	font-size:14px;
	color: #222222;
	margin-top:0 !important;
}

.yks-mc-subscriber-firstName, .yks-mc-subscriber-lastName {
	text-transform: capitalize;
}

.yks-subscriber-info-optin-data {
	display:block;
	margin-top:.5em;
}

.yks-mc-subscriber-bottom {
	display:block;
	float:left;
	width:100%;
}

.yks-mc-subscriber-top {
	margin-bottom: 1.5em;
}

.yks-mc-subscriber-header {
	border-bottom:1px dashed grey;
	padding-bottom:.5em;
}

.yks-mc-subscriber-left-container,  .yks-mc-subscriber-right-container {
	float:left;
	width:50%;
}
label[for="yikes_mailchimp_comment_subscribe"] {
	display:block;
	margin: .5em 0 .5em 0;
}
label[for="yikes_mailchimp_comment_subscribe"]:hover {
	cursor:pointer;
}

label[for="single-optin-message"], label[for="double-optin-message"] {
	display:block;
	max-width: 598px;
	min-width:55% !important;
}

#wp-double_optin_message-wrap, #wp-single_optin_message-wrap {
	display:block;
	margin-top:1.5em;
}

.yikes_widget_logo {
	display:block;
	margin:0 auto;
	width: 80px;
}

.yikes_cURL_instructions_hidden, .yikes_phpinfo_container {
	display:none;
}

.yikes_cURL_help_button {
	margin-bottom: 1em !important;
}

.yks_mc_php_ini_file_location {
	margin: .5em 0 .5em 0;
	font-style:italic;
}

.yks_mc_no_phpini_alert {
	color :#C93232;
	font-weight:bold;
}

.yks_mc_no_phpini_success {
	color :#29CA01;
	font-weight:bold;
}


/** Date Picker Styles **/
.yks-mailchimpFormDatepickerContainer .ui-datepicker-prev:hover, .yks-mailchimpFormDatepickerContainer .ui-datepicker-next:hover {
	cursor: pointer;
}

/* Form Error Classes */
.yks_error_field_required {
	border: 1px solid rgb(252, 182, 182) !important;
	background: rgb(255, 213, 213) !important;
 }
 
 #yks_form_error_message {
	padding:.75em;
	padding-left: 0;
	font-size:12px;
	float:left;
	display:none;
	width:100%;
 }
	 #yks_form_error_message ul {
		list-style-type: square;
		width: 100%;
		float:left;
		margin-top:.5em;
		margin: 0.75em 0 1.25em 1.25em;
	 }
		 #yks_form_error_message ul li {
			width: 33%; 
			float:left;
		 }
		 
	.preloader-confirmation-box > .success {
		color: rgba(87, 182, 66, 0.65);
	}
	
	.preloader-confirmation-box > .error {
		color: rgba(224, 47, 47, 0.65);
	}
	
	.preloader-confirmation-box > .error:before {
		display: block;
		float: left;
	}
	
	.preloader-confirmation-box > .success:before {
		font-family: "dashicons";
		content: "\f147";
	}
	
	.preloader-confirmation-box > .error:before {
		font-family: "dashicons";
		content: "\f335";
	}
		 
/* reCAPTCHA Responsiveness */
#recaptcha_area {
	margin-bottom:1.5em;
}

	.widget-area #recaptcha_area .recaptcha_input_area, .widget-area #recaptcha_table td, .widget #recaptcha_area .recaptcha_input_area, .widget #recaptcha_table td {
		margin-left:0 !important;
		padding-left:0 !important;
	}
	
    .widget-area .recaptchatable #recaptcha_image, .widget .recaptchatable #recaptcha_image {
        margin: 0 !important;
        width: 200px !important;
        float:left !important;
    }
    .widget-area .recaptchatable #recaptcha_image img {
        max-width:100%;
    }
    .widget-area .recaptchatable .recaptcha_r1_c1, .widget-area .recaptchatable .recaptcha_r3_c1, .widget-area .recaptchatable .recaptcha_r3_c2, .widget-area .recaptchatable .recaptcha_r7_c1, .widget-area .recaptchatable .recaptcha_r8_c1, 
	.widget-area .recaptchatable .recaptcha_r3_c3, .widget-area .recaptchatable .recaptcha_r2_c1, .widget-area .recaptchatable .recaptcha_r4_c1, .widget-area .recaptchatable .recaptcha_r4_c2, .widget-area .recaptchatable .recaptcha_r4_c4, 
	.widget-area .recaptchatable .recaptcha_image_cell, .widget-area .recaptchatable .recaptcha_r2_c2 {
		
    }
	
	.widget-area .recaptchatable #recaptcha_image, .widget-area #recaptcha_area, .widget-area #recaptcha_table, .widget .recaptchatable #recaptcha_image, .widget #recaptcha_area, .widget #recaptcha_table {
		width: 100% !important;
		max-width:300px;
	}
	
	/*
	.widget-area img#recaptcha_switch_audio, .widget-area img#recaptcha_reload, .widget-area img#recaptcha_whatsthis {
		display:none !important;
	}	
	*/
	
	.widget-area input#recaptcha_response_field {
		margin-left: 3px !important;
	}
	
 input[name="yks-mailchimp-recaptcha-private-api-key"] , input[name="yks-mailchimp-recaptcha-api-key"] {
	width: 40%;
	min-width:357px;
 }
 
#debug_loaded_apache_modules {
	width: 75%;
	height:124px;
	resize: none;
}
 
 .reCAPTCHA_preview_div {
	float:left;
	border:1px dashed lightgrey;
	text-align:center;
 }
	.reCAPTCHA_preview_div strong {
		display:block;
		font-size:15px;
	}
 
textarea#debug_loaded_apache_modules {
	color: #333 !important;
 }
 
 #single_optin_message_ifr, #double_optin_message_ifr {
	max-height:200px !important;
 }
 
 /* Dashboard Mobile Responsive Styles */
 @media only screen and (max-width : 782px) {
	label[for="single-optin-message"], label[for="double-optin-message"] {
		width: 100% !important;
	}
 }
 
 /* reCAPTCHA API Key Error */
 .yks_mc_recaptcha_api_key_error {
	width: 100%;
	text-align:center;
	color: red;
	margin: 1em 0;
	text-style:italic;
	font-style: italic;
 }
 
 /**
 *
 *	My MailChimp Page	
 *
 **/
 
 /* Chimp Chatter */
 .chimp-chatter-message-title {
	border-bottom: 1px solid #C7C6C6;
	width:100%;
	display:block;
 }
 
 #yks-admin-chimp-chatter {
	width: 100%;
 }	
 
 #yks-admin-chimp-chatter .chatter-table-row {
	margin-top: 1em;
 }
	 #yks-admin-chimp-chatter .chatter-table-row td:first-child, #yks-admin-chimp-chatter .chatter-table-row td:nth-child(2), #yks-admin-chimp-chatter .chatter-table-row td:nth-child(3) {
		width: 10%;
		text-align:center;
	 }
 
  #yks-admin-chimp-chatter .chatter-table-row td:nth-child(2) {
	color: #b7b7b7;
	font-weight:bold;
 }
 
 
 /* Chimp Chatter Message Container Styles */
.chimp-chatter-message {
	vertical-align:middle;
	border:2px solid #e0e0e0;
	padding:18px;
	border-radius:6px;
	background-color:#fff;
	width:66.66666666666667%
}
@media screen and (max-width:60em){
	.chimp-chatter-message {
		width:83%;vertical-align:top
	}
}
@media screen and (max-width:40em){
	.chimp-chatter-message {
		width:100%
	}
}



@media screen and (max-width:60em) {
	.chimp-chatter-message:after, .chimp-chatter-message:before {
		top:77px
	}
}
@media screen and (max-width:40em) {
	.chimp-chatter-message:after,.chimp-chatter-message:before {
		border-right-color:transparent;
		border-bottom-color:#fff;
		left:9px;
		top:-17px
	}
}

/** Stats Page 
.stats_list_name {
	padding:2em;
	margin:1.5em 1em;
	display:block;
	float:left;
	text-align:center;
	text-decoration:none;
	background:#333;
	color:white;
	max-width:18%;
	min-width:18%;
	min-height: 100px;
}
**/

/** Buttons, Campaigns Sent List **/
/* #Green Flat Button
==================================================*/
.green-flat-button {
  position: relative;
  vertical-align: top;
  width: 70%;
  height: 45px;
  padding: 0;
  font-size: 16px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #27ae60;
  border: 0;
  border-bottom: 2px solid #219d55;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #219d55;
  box-shadow: inset 0 -2px #219d55;
  min-width: 125px;
  max-width: 125px;
}
.green-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* #Orange Flat Button
==================================================*/
.orange-flat-button {
  position: relative;
  vertical-align: top;
  width: 70%;
  height: 45px;
  padding: 0;
  font-size: 16px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f39c12;
  border: 0;
  border-bottom: 2px solid #e8930c;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #e8930c;
  box-shadow: inset 0 -2px #e8930c;
  min-width: 125px;
  max-width: 125px;
}
.orange-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mailChimpStatisticsDiv .no_data_found, #yks-admin-chimp-chatter .no_data_found {
	padding-top:6em;
	font-size:1.25em;
	color:rgb(212, 93, 93);
	text-align:center;
}

.wp-admin .active-parent-button, .wp-admin .active-parent-button:hover  {
	color: red;
}

.list_container_for_stats .active_button {
	color: #38E7FF;
}

.mailChimp_get_subscribers_preloader {
	display:block; 
	margin:0 auto;
	margin-top:2em;
}

/**
*
*	Campaign Report Styles
*
**/
#yks-admin-campaign-stats-table { 
	width: 100%;
}

#yks-admin-campaign-stats-table td:nth-child(2) {
	width: 42%;
	max-width:42%;
}

#yks-admin-campaign-stats-table td:last-child {
	text-align:right !important;
}

#yks-admin-campaign-stats-table .single_report_row {
	border-bottom:1px solid lightgrey;
}

#yks-admin-campaign-stats-table .single_report_row:last-child {
	border-bottom: none;
}

#yks-admin-campaign-stats-table .yks_campaign_report_link, .yks_campaign_report_disabled_link {
	font-size:1.5em;
	text-decoration:none;
}

.yks_campaign_report_click_data {
	height:35px;
	font-size:1.25em;
}

.yks_campaign_report_click_data:hover {
	cursor:pointer;
}

.yks_campaign_report_click_data .hover_view {
	display:none;
	font-size:15px;
}


.yks_campaign_report_click_data .campaign_summary_data {
	width:15%;
	margin:0 .5em;
	float:left;
	text-align:center;
}

.yks_campaign_report_click_data .campaign_summary_data:first-child {
	margin-left: 5em;
}

.overview_information_section {
	width: 100%;
	margin: 1em 0;
	display:block;
	float:left;
}

.overview-info-container {
	font-size:18px;
	line-height:1.8;
	width:100%;
}

.overview-info-container .overview_information {
	float:left;
	width:47%;
	margin: 1.5% 0 0 0;
}

.overview_information_right {
	float:right !important;
}

.overview_information a {
	display:block; 
	float:right;
}

.overview_information .info_overview_avg_tag {
	width: 100%;
	float:left;
}

.overview_information .info_overview_percentage {
	float:right !important;
}

.yks_mc_child_report , .yks_mc_child_report+tr {
	display:none;
}	


/* Progress Bar Styles */
.progress-bar {
    background-color: #1a1a1a;
    height: 25px;
    padding: 1px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
	float:left;
	margin-bottom:1em;
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;    
}

.blue span {
    background-color: #34c2e3;   
}

.orange span {
      background-color: #fecf23;
      background-image: linear-gradient(top, #fecf23, #fd9215);  
}   

.green span {
      background-color: #a5df41;
      background-image: linear-gradient(top, #a5df41, #4ca916);  
}

.stripes span {
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                        transparent 75%, transparent);            
    
    animation: animate-stripes 3s linear infinite;             
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.yks-campaign-report-recipients {
	font-size:25px;
}

#opened_clicked_bounced_unsubscribed {
	display:inline-block;
	width:100%;
	margin: 3.5em 0;
	text-align:center;
}

#opened_clicked_bounced_unsubscribed .centered_container {
	display:block;
	margin:0 auto;
}

#opened_clicked_bounced_unsubscribed .yks_mc_ocbu {
	width:25%;
	float:left;
	padding: 2.5em;
	border:1px solid lightgrey;
		-webkit-transition: background 0.25s linear;
        -moz-transition: background 0.25s linear;
        -ms-transition: background 0.25s linear;
        -o-transition: background 0.25s linear;
        transition: background 0.25s linear;
}

.yks_mc_ocbu:hover {
	cursor:pointer;
	background-color: #333333;
	color:#ffffff;
}

#opened_clicked_bounced_unsubscribed a {
	color: #333;
}

#opened_clicked_bounced_unsubscribed a:first-child .yks_mc_ocbu {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#opened_clicked_bounced_unsubscribed a:last-child .yks_mc_ocbu {
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#opened_clicked_bounced_unsubscribed .centered_container {
	display:block;
	margin:0 auto;
}

#opened_clicked_bounced_unsubscribed .yks_mc_ocbu_number {
	font-size: 25px;
	font-weight:bold;
	margin:0;
}


/** Click Data Chart Styles **/
#yks-admin-link-data-table {
	width: 100%;
	font-size: 18px;
}

	#yks-admin-link-data-table .link_data_table_head {
		background:#333;
		color: white;
		padding: .5em 0;
	}

	#yks-admin-link-data-table .single_click_item {
		text-align:center;
	}
	
	#yks-admin-link-data-table .single_click_item.first {
		text-align:left;
		width:66%;
	}

	
#click-data h2:first-child {
	float:left;
}

.view_clicks_as_piechart {
	float:right;
	margin-bottom:2em;
}

.yks-mc-view-recipients {
	text-decoration: none;
}

/* Opens Tracking Disabled */
#open_tracking_disabled_warning {
	display:none;
	background: #FFD8D8;
	border-radius: 5px;
	padding: .5em;
	margin: 2em 0;
}

	#open_tracking_disabled_warning p:first-child {
		font-size: 1.2em;
	}
	
	#open_tracking_disabled_warning p:first-child:before {
		content: "\f348";
	}

	#open_tracking_disabled_warning .dashicons-info {
		float:left;
		margin:.5em;
		font-size:3em;
		margin-right:1em;
	}
	
.yks-mc-report-error {
	width:100%;
	text-align:center;
	display:block;
	color:red;
	margin:1.5em 0;
}

#geo_map_no_data img {
	display:block;
	margin:0 auto;
	opacity: .25;
	max-width:100%;
}

#geo_map_no_data_overlay {
	background: #333;
	opacity: .25;
}


.geo_map_no_data_error {
	position: absolute;
    top: 87%;
    left: 40%;
	padding: 0 1em;
    margin-top: -25px;
    margin-left: -50px;
}

/* Profile Section Styles */
.profile_section {
	display:inline-block;
	width:100%;
	margin: 0 0 1em 0;
	width: 100%;
}

	.profile_section .profile_information {
		display:inline-block;
		width: 100%;
		float:left;
	}
	
	.profile_section .profile_information .profile_info_span {
		float:left;
		margin: 0 1em;
		width:15%;
	}
	
	.profile_section .profile_information .profile_info_span:first-child {
		margin-left: 0 !important;
	}

/* Account Overview Styles */

#yks-mc-account-activated {
			display:block;
			margin:0 auto;
			height:35px;
			width:35px;
			border-radius:50%;
			background:rgba(52, 233, 52, 0.63);
		}

#yks-mc-account-not-activated {
			display:block;
			margin:0 auto;
			height:35px;
			width:35px;
			border-radius:50%;
			background:rgba(233, 59, 52, 0.63);
		}
	
/** Admin Break Points **/

@media only screen and (max-width: 1175px) {
		
	/* Opened, Clicked, Unsubscribed etc. sats boxes */
	#opened_clicked_bounced_unsubscribed .yks_mc_ocbu {
		width: 50% !important;
	}
	
	#opened_clicked_bounced_unsubscribed a:first-child .yks_mc_ocbu {
		border-bottom-left-radius: 0 !important;
	}
	
	#opened_clicked_bounced_unsubscribed .yks_mc_ocbu:nth-child(2) {
		border-top-right-radius: 10px;
	}
	
	#opened_clicked_bounced_unsubscribed a .yks_mc_bounced_data {
		border-bottom-left-radius: 10px !important;
	}
	
	#opened_clicked_bounced_unsubscribed a:last-child .yks_mc_ocbu {
		border-bottom-right-radius: 10px;
		border-top-right-radius: 0 !important;
	}
	
}


/** New List Page Styles **/
#yks-list-select {
	vertical-align: top !important;
	margin-right: 1em;
}	

body.mailchimp-forms_page_yks-mailchimp-form-lists {
	background: transparent;
}

.yks-mc-list-title-toggle {
	display:block;
	width: 100%;
	font-size: 19px;
}

body.mailchimp-forms_page_yks-mailchimp-form-lists .panel {
	margin-bottom: 0;
	padding: .35em;
}

body.mailchimp-forms_page_yks-mailchimp-form-lists .panel-body {
	padding: 0;
	margin-top: -.75em;
	position: relative;
	background: #fefefe;
}

body.mailchimp-forms_page_yks-mailchimp-form-lists .yks-admin-form {
	margin-bottom:0;
}

body.mailchimp-forms_page_yks-mailchimp-form-lists .panel-heading {
	margin: .25em 0;
	padding: .5em 1em;
}

body.mailchimp-forms_page_yks-mailchimp-form-lists .panel-default {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
	position: relative;
	z-index: 999;
	display: inline-block;
}

body.mailchimp-forms_page_yks-mailchimp-form-lists .yks-list-container {
	padding-left: .5em;
	border:1px solid #ddd;
	border-radius: 3px;
	background: #fefefe;
}

body.mailchimp-forms_page_yks-mailchimp-form-lists form[name="yks-mailchimp-form"] {
	padding: 0 1.5em;
}

body.mailchimp-forms_page_yks-mailchimp-form-lists .panel-heading .yks_mc_list_title {
	float: left;
}

body.mailchimp-forms_page_yks-mailchimp-form-lists .panel-heading .yks_mc_subscriber_count {
	float: right;
}

body.mailchimp-forms_page_yks-mailchimp-form-lists .yks-list-container h4 {
	line-height: 1.5;
}


/*** Template Preview Box **/
.selected_template_preview_header {
	display: inline-block;
	width: 100%;
}
	
	.preview_template_screenshot {
		display:block;
		margin:0 auto;
	}
	
	.selected_template_preview_header .template_name {
		float: left;
		text-decoration: underline;
	}
	
	.selected_template_preview_header .template_author {
		float: right;
		margin-top: 20px;
	}
	
	.selected_template_preview_header .template_preview {
		display: block;
		margin: 0 auto;
	}

/** User Template How To **/	
.user_template_how_to_title {
	margin-top: 1em;
	padding-left: 30%;
	text-decoration: underline;
}
.whats-this-help {
	font-size: 12px;
	line-height:1.5;
	margin-left: .5em;
}

.yks-mc-file-path {
	color: red;
}

/** Color Picker **/
.wp-picker-holder {
	position:absolute;
	z-index: 99999999;
}

.custom_style_table {
	width: 50%;
}

	.custom_style_table .yks-mailchimp-fields-list-row td, .custom_style_table .yks-mailchimp-interest-groups-container td {
		width: 50%;
		text-align:center;
	}
		.custom_style_table .yks-mailchimp-fields-list-row td:first-child, .custom_style_table .yks-mailchimp-interest-groups-container td:first-child {
			text-align: left;
		}

	.custom_style_table .yks-mailchimp-fields-list .yks-mailchimp-fields-list-row, .custom_style_table .yks-mailchimp-interest-groups-container .yks-mailchimp-fields-list-row {
		display: inline-block;
	}
	
	td.custom-styles-input-td {
		height: 58px !important;
	}
	
.custom-styles-input-td {
	text-align:right;
}

.style_table_left {
	float:left;
}
.style_table_right {
	float:left;
}


	.populatePreviewFormContainer {
		display: block;
		margin-top: 2em;
	}
	
	
input[name="yks-mc-form-padding"], input[name="yks-mc-form-width"], select[name="yks-mc-form-alignment"] {
	width: 111px;
	text-align:center;
}

/***** New Chimp Chatter Item + Star *****/
.new-chatter-item td:first-child:before {
	content: "\f155";
	font-family: "dashicons";
	left: 0;
	font-size: 2em;
	color: rgb(248, 226, 58);
}



/*		Print Stylesheet		*/
/**************************/


@media print
{    
	
	html, body.mailchimp-forms_page_yks-mailchimp-my-mailchimp #wpwrap, body.mailchimp-forms_page_yks-mailchimp-my-mailchimp #wpbody-content {
		background:white;
	}

	/* Main Content Body */
	#wpcontent, .centered_container {
		margin-left: 0 !important;
		width: 100% !important;
	}

    .yks-mc-no-print
    {
        display: none !important;
    }
	
	.overview-info-container .overview_information {
		width: 45%;
		margin: 1% 1% 0 0;
	}
	
	#opened_clicked_bounced_unsubscribed, #opened_clicked_bounced_unsubscribed .centered_container {
		width: 100% !important;
		display:block;
		margin:0 auto;
	}

	
	
	
}

.radio-dropdown-option.first {
	margin-left: 25px;
}
.remove-radio-dropdown-option {
	line-height: 1.1;
	float:left;
	margin-right:.25em;
}	
.yks_mc_interest_group_label:hover, .remove-radio-dropdown-option:hover, .yks-mc-delete-merge-var > .dashicons-no-alt {
	cursor: pointer;
}

/* Add New Field Inputs */
/* New Manage List Styles */
.yks-mc-add-field-dateformat {
	display: none;
}
input.radio-dropdown-option {
	width: 65%;
	display: block;
	margin: .75em 0;
}
input.radio-dropdown-option:before {
	font-family: "dashicons";
	content: '\f460';
}
.yks-mc-add-field-radio-dropdown {
	display: none;
}
#merge-variable-settings {
	display: none;
}
a.create-this-field {
	color: red !important;
}
.dashicons-no-alt {
	color: rgba(51, 51, 51, 0.5);
	padding: 2px;
	-webkit-transition: all 0.25s ease-out;  
	-moz-transition: all 0.25s ease-out;  
	-ms-transition: all 0.25s ease-out;  
	-o-transition: all 0.25s ease-out;  
	transition: all 0.25s ease-out;
}
.dashicons-no-alt:hover {
	color: rgb(255, 137, 137);
}
.dashicons-edit {
	color: rgba(51, 51, 51, 0.5);
	padding: 2px;
	-webkit-transition: all 0.25s ease-out;  
	-moz-transition: all 0.25s ease-out;  
	-ms-transition: all 0.25s ease-out;  
	-o-transition: all 0.25s ease-out;  
	transition: all 0.25s ease-out;
}
.dashicons-edit:hover {
	color: rgba(111, 195, 75, 0.49);
}
#yks_mc_review_this_plugin_container {
	position: absolute;
	right: 0;
	margin-right: 1.5em;
}

/* Interest Group Styles */
.yks-mc-interest-group-edit:hover, .yks-mc-interest-group-delete:hover, .yks-mc-interest-group-option-edit:hover, .yks-mc-interest-group-option-delete:hover, .yks-mc-interest-group-title-edit:hover {
	cursor: pointer;
}


.yks-mc-interest-group-edit {
	display: block;
	float: left;
	margin: .25em;
}
.yks-mc-interest-group-delete {
	display: block;
	float: left;
	margin: .25em;
	margin-right: 0;
}
.yks-mc-interest-group-name {
	display: block;
	float: left;
	margin: .5em;
	font-style: italic;
	font-weight: 600;
}
.yks-mc-interest-group-type {
	margin-top: .5em;
	margin-right: 2em;
	float:right;
}	

.yks-mc-merge-var-change > .dashicons {
	line-height: .85;
}

.yks-mailchimp-interest-groups-container .yks-mc-interest-group-edit > .dashicons {
	line-height: .9;
}

/* No interest groups found */
.yks-mc-empty-interest-group-table { 
	background-color: transparent !important;
	border: none !important; 
}

.yks-mc-preloader-update-interest-groups {
	position:absolute;
	margin-left: 45%;
	margin-top: 10%;
}


/* Update Interest Group */
.yks-mc-update-interest-group-header {
	display: inline-block !important;
	width: 100%;
}

a.button-secondary.add-new-field {
	margin: .35em 0;
}

/* Update Interest Group Type */
#yks-mc-interest-group-toggle-type:disabled:hover , #yks-mc-interest-group-toggle-type:hover {
	cursor: pointer;
}

.yks-mc-update-interest-group-header > h3 {
	float: left;
	margin-bottom: 0;
}

.yks-mc-update-interest-group-header #yks-mc-interest-group-type {
	float: right;
}

#option-ul {
	margin-bottom: 3em;
}

#option-ul li.option-ul-title {
	display: block;
	margin: 2em 0;
}

.option-ul-title > h4:empty {
	height: 19px;
}

#yks-mc-interest-group-title {
	float: left;
}

#option-ul li.option-ul-title:hover, #yks-mc-interest-group-title:hover, .yks-mc-update-interest-group-header:hover {
	cursor: pointer;
}

body.mailchimp-forms_page_yks-mailchimp-form-lists .ui-dialog {
	z-index: 9999999 !important;
}


.g-recaptcha {
	margin-bottom: 1em;
}

.recaptcha-checkbox-checkmark:hover {
	cursor: pointer !important;
}

.reCaptcha-demo-gif {
	min-width: 300px;
	max-width: 800px; 
	width: 20%;
}