/*
*	Checkbox integration styles
*	@since 6.0.0
*/

input[name="yikes_mailchimp_checkbox_easy_digital_downloads_checkout_form"] {
	margin-top: 3px !important;
}

.yikes-easy-mailchimp-registration_form-checkbox {
	margin-bottom: .8em !important;
}

#yikes-easy-mailchimp-buddypress_form-checkbox {
	display: inline-block;
}

#yikes-mailchimp-checkbox-section {
	width: 48%;
	float: right;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInlpa2VzLWluYy1lYXN5LW1haWxjaGltcC1jaGVja2JveC1pbnRlZ3JhdGlvbi5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7OztFQUdFOztBQUVGO0NBQ0MsMkJBQTJCO0NBQzNCOztBQUVEO0NBQ0MsK0JBQXNCO0NBQ3RCOztBQUVEO0NBQ0Msc0JBQVc7Q0FDWDs7QUFFRDtDQUNDLFdBQVc7Q0FDWCxhQUFhO0NBQ2IiLCJmaWxlIjoieWlrZXMtaW5jLWVhc3ktbWFpbGNoaW1wLWNoZWNrYm94LWludGVncmF0aW9uLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi8qXG4qXHRDaGVja2JveCBpbnRlZ3JhdGlvbiBzdHlsZXNcbipcdEBzaW5jZSA2LjAuMFxuKi9cblxuaW5wdXRbbmFtZT1cInlpa2VzX21haWxjaGltcF9jaGVja2JveF9lYXN5X2RpZ2l0YWxfZG93bmxvYWRzX2NoZWNrb3V0X2Zvcm1cIl0ge1xuXHRtYXJnaW4tdG9wOiAzcHggIWltcG9ydGFudDtcbn1cblxuI3lpa2VzLWVhc3ktbWFpbGNoaW1wLWJ1ZGR5cHJlc3NfZm9ybS1jaGVja2JveCB7XG5cdGRpc3BsYXk6IGlubGluZS1ibG9jaztcbn1cblxuI3lpa2VzLW1haWxjaGltcC1jaGVja2JveC1zZWN0aW9uIHtcblx0d2lkdGg6IDQ4JTtcblx0ZmxvYXQ6IHJpZ2h0O1xufSJdfQ== */